##تمرین رشته منقطع

کدی بنویسید که رشته زیر را در ابتدا به شکل lower case تبدیل کنید و سپس رشته را به شکل لیست کلمات جدا جدا شده با استفاده از متد رشته خروجی دهد.

x = 'Hi this is a string'

In [ ]:
x = 'Hi this is a string'
print(x.lower() + '\n')
print(list(x))

hi this is a string

['H', 'i', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

## ++++++++++++++++++++++++++++++++++++++++++++++++

##تمرین دست‌کاری لیست

کدی بنویسید که با استفاده از عملگرهای لیست (مانند حذف و اضافه کردن به انتهای لیست) از لیست داده‌شده عدد 3 را حذف کند و عدد 10 را به انتهای لیست اضافه کند، سپس لیست نهایی را بازگرداند.

my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list.append(10)
my_list

[1, 2, 4, 5, 10]

## ++++++++++++++++++++++++++++++++++++++++++++++++

##Dictionary

In [ ]:
nomreh = {
    "Nima": {
        "riazy": 13,
        "programming": 20,
        "tarikh": 15
    },
    "Hirad": {
        "riazy": 20,
        "programming": 20,
        "tarikh": 20
    }
}

In [ ]:
print(nomreh["Hirad"], '\n')
print(nomreh["Hirad"]["riazy"])

{'riazy': 20, 'programming': 20, 'tarikh': 20}

20

In [ ]:
nomreh.keys()

dict_keys(['Nima', 'Hirad'])

In [ ]:
nomreh.values()

dict_values([{'riazy': 13, 'programming': 20, 'tarikh': 15}, {'riazy': 20, 'programming': 20, 'tarikh': 20}])

In [ ]:
nomreh.items()

dict_items([('Nima', {'riazy': 13, 'programming': 20, 'tarikh': 15}), ('Hirad', {'riazy': 20, 'programming': 20, 'tarikh': 20})])

In [ ]:
price = {
    "apple": 100,
    "banana": 2,
    "khiar": 1000
}

In [ ]:
price.keys()

dict_keys(['apple', 'banana', 'khiar'])

In [ ]:
price.values()

dict_values([100, 2, 1000])

In [ ]:
price.items()

dict_items([('apple', 100), ('banana', 2), ('khiar', 1000)])

In [ ]:
price.get("bademjoon")

In [ ]:
price.get("bademjoon", -1)

-1

In [ ]:
price.get("apple", -1)

100

In [ ]:
kelasha = {
    1: ["nima", "hirad", "hadi"],
    2: ["zahra", "sara", "roya"]
}

In [ ]:
kelasha[1]

['nima', 'hirad', 'hadi']

In [ ]:
kelasha[1][1]

'hirad'

In [ ]:
kelasha[2][0].upper()

'ZAHRA'

In [ ]:
kelasha[2][0].upper()[2]

'H'

Add new item to dictionary

In [ ]:
price["orange"] = 50

In [ ]:
price

{'apple': 100, 'banana': 2, 'khiar': 1000, 'orange': 50}

##تمرین دیکشنری حاوی میوه

یک دیکشنری به نام fruit_prices بسازید که شامل قیمت‌های میوه‌ها باشد.

قیمت‌ها به شرح زیر است:

apple: 1500

banana: 1000

orange: 1200


سپس کدی بنویسید که قیمت banana را به 1100 تغییر دهد

و apple را به طور کلی حذف کند.

 در آخر این دیکشنری را چاپ کنید.

In [ ]:
fruit_prices = {
    'apple': 1500,
    'banana': 1000,
    'orange': 1200
}

In [ ]:
fruit_prices['banana'] = 1100

In [ ]:
fruit_prices.pop('apple')

1500

In [ ]:
fruit_prices

{'banana': 1100, 'orange': 1200}

## ++++++++++++++++++++++++++++++++++++++++++++++++

##Tuples
تاپل‌ها

In [ ]:
tup1 = (1, 4, 5, "Nima", 3.14598)

In [ ]:
tup1[3]

'Nima'

tuples are immutable so we can not add or assinment value 👇

In [ ]:
#tup1[2] = 3

In [ ]:
result = ('Nima', 15)

In [ ]:
name, nomreh = result

In [ ]:
name

'Nima'

In [ ]:
nomreh

15

## تمرین فاصله دو نقطه با تاپل

یک تاپل به نام

coordinates

بسازید که شامل مختصات نقطه

A

در صفحه باشد

( (4, 3) = a)



سپس کدی بنویسید که مسافت این نقطه تا مبدا

(0, 0)

را محاسبه کند.


برای محاسبه مسافت بین دو نقطه در صفحه مختصات از فرمول مسافت اقلیدسی استفاده کنید:


distance = √((x₂ - x₁)² + (y₂ - y₁)²)

In [ ]:
a = (3, 4)

In [ ]:
b = (0, 0)

In [ ]:
import math
distance = math.sqrt((a[0] - b[0])**2 + (a[1] - b[1])**2)

In [ ]:
distance

5.0

## ++++++++++++++++++++++++++++++++++++++++++++++++

##Sets

مجموعه‌ها

** نکته:  در مجموعه ها ترتیب اعضای آن مرتب نیست به اصطلاح یک گونی از اجزا هست و عضو تکراری ندارد **

In [ ]:
myset = set()

In [ ]:
myset.add(1)
myset.add(2)

In [ ]:
myset

{1, 2}

In [ ]:
type(myset)

set

we can not add 3 arguments to set with add()

In [ ]:
#myset.add(1, 2, 3)

we can not add list/array arguments to set with add()

In [ ]:
#myset.add([2, 3, 4])

In [ ]:
myset.add('Hirad')

In [ ]:
myset

{1, 2, 'Hirad'}

In [ ]:
chess = set()
chess.add('Nima')
chess.add('Hirad')

In [ ]:
sofalgary = set()
sofalgary.add('Nima')
sofalgary.add('Ali')

 وجه اتحاد دو مجموعه

In [ ]:
sofalgary.union(chess)

{'Ali', 'Hirad', 'Nima'}

وجه مشترک دو مجموعه

In [ ]:
sofalgary.intersection(chess)

{'Nima'}

In [ ]:
heyvoons = set(['Dog', 'Cat', 'Wolf', 'Pig'])

In [ ]:
heyvoons

{'Cat', 'Dog', 'Pig', 'Wolf'}

In [ ]:
type(heyvoons)

set

In [ ]:
heyvoons.add('dolphine')

In [ ]:
heyvoons

{'Cat', 'Dog', 'Pig', 'Wolf', 'dolphine'}

## تمرین جادوگر شهر پایتون

یک جادوگر دو مجموعه جادویی به نام‌های

SetA و SetB

دارد.



```
SetA = {1, 2, 3, 4}
SetB = {3, 4, 5, 6}
```

جادوگر باید تمامی اعضای موجود در هر دو مجموعه (اجتماع) را مشخص کند.

باید مجموعه‌ی مشترک (اشتراک) بین

SetA و SetB

را پیدا کند.

وظیفه شما، برنامه‌ای بنویسید که:

اجتماع اعضای موجود در هر دو مجموعه (اجتماع) را پیدا کنید و با

u

نشان دهید.

مجموعه مشترک (اشتراک) بین

SetA و SetB

را پیدا کنید و با

i

نشان دهید.

خروجی مورد ۱ و ۲ را به ترتیب در ۲ سطر و به شکل زیر نمایش دهد.



```
{اجتماع}
{اشتراک}
```

In [ ]:
SetA = set([1, 2, 3, 4])
SetB = set([3, 4, 5, 6])

In [ ]:
u = SetA.union(SetB)

In [ ]:
i = SetA.intersection(SetB)

In [ ]:
print(u)
print(i)

{1, 2, 3, 4, 5, 6}
{3, 4}

## ++++++++++++++++++++++++++++++++++++++++++++++++


##Booleans

Boolean ها در پایتون

In [ ]:
2 > 12

False


```
a > b
a < b
a >= b
a <= b
a == b

and
or
not  ex: not(a > b)
```

In [ ]:
a = False

In [ ]:
type(a)

bool

In [ ]:
type(None)

NoneType

In [ ]:
my_list = [1, 5, 9, 'Nima', 2.58]

In [ ]:
2 in my_list

False

In [ ]:
5 in my_list

True

In [ ]:
heyvoons = {'dog': 3, 'cat': 5, 'wolf': 8}

In [ ]:
'wolf' in heyvoons

True

## ++++++++++++++++++++++++++++++++++++++++++++++++

## file I/O

In [ ]:
pwd

'/content'

In [ ]:
!ls

sample_data

In [ ]:
%%writefile myfile.txt
This is my temp file
We are testing files in Python
Good Luck

Writing myfile.txt

In [ ]:
f = open('myfile.txt')

read data from a text file

In [ ]:
f.read()

'This is my temp file\nWe are testing files in Python\nGood Luck\n'

if we call again after read
the 'f' is empty

In [ ]:
f.read()

''

the seek is a curser in file
so we say go to 0 index of the file

In [ ]:
f.seek(0)

0

In [ ]:
f.read()

'This is my temp file\nWe are testing files in Python\nGood Luck\n'

In [ ]:
f.readline()

'This is my temp file\n'

In [ ]:
f.seek(0)

0

In [ ]:
f.readlines()

['This is my temp file\n', 'We are testing files in Python\n', 'Good Luck\n']

In [ ]:
f.close()

In [ ]:
with open('myfile.txt') as f:
  lines = f.readlines()
  print(lines, '\n\n')
  print(lines[-1])

['This is my temp file\n', 'We are testing files in Python\n', 'Good Luck\n']


Good Luck

default parameter is  'r'

In [ ]:
with open('myfile.txt', 'r') as reader:
  lines = reader.readlines()
  print(lines, '\n\n')
  print(lines[-1])

['This is my temp file\n', 'We are testing files in Python\n', 'Good Luck\n']


Good Luck

the 'w' parameter can overwrite the file

we want add a text in end of file
with  'a'  parameter

In [ ]:
output = open('myfile.txt', 'a')

In [ ]:
output.write('oh!! this is new line !')

23

In [ ]:
output.close()

## ++++++++++++++++++++++++++++++++++++++++++++++++

## Comparison

عملگرهای مقایسه



```
 <
 >
 >=
 <=
 ==
 !=

 and
 or
 not
```

In [ ]:
1 > 2

False

In [ ]:
'Nima' == 'nima'

False

In [ ]:
'Hirad' == 'Hirad'

True

In [ ]:
name = 'Hirad'

In [ ]:
name == 'hirad'

False

In [ ]:
name != 'hirad'

True

In [ ]:
6 != 9

True

In [ ]:
4 > 3 and 9 >= 9 and 10 > 8

True

In [ ]:
4 > 3 and 9 >= 9 and 8 > 10

False

In [ ]:
4 > 3 or 9 >= 9 or 8 > 10

True

In [ ]:
not (4 > 3)

False

In [ ]:
ghad = 180

In [ ]:
190 > ghad > 150

True

## ++++++++++++++++++++++++++++++++++++++++++++++++

## Conditions

شرط‌ها در پایتون

## ++++++++++++++++++++++++++++++++++++++++++++++++

# Statements

##شرط‌ها در پایتون

In [ ]:
sen = 18

In [ ]:
if sen < 18:
  print("Hi Baby !")
elif sen < 30:
  print("Hello Young !")
elif sen < 60:
  print("Hello Junior !")
else:
  print("Hi Old !")

print("")

Hello Young !

## تمرین فروشگاه مشروط

یک فروشگاه تخفیف‌های ویژه‌ای برای مشتریان در نظر گرفته است. قوانین تخفیف به شرح زیر است:

اگر مبلغ خرید بیشتر از ۵۰۰۰۰ تومان باشد، تخفیف ۲۰٪ اعمال می‌شود.

اگر مبلغ خرید بین ۲۰۰۰۰ تا ۵۰۰۰۰ تومان باشد، تخفیف ۱۰٪ اعمال می‌شود.

اگر مبلغ خرید کمتر از ۲۰۰۰۰ تومان باشد، تخفیفی اعمال نمی‌شود.


برنامه‌ای بنویسید که مبلغ خرید را از کاربر دریافت کند و مقدار مبلغ نهایی را نمایش دهد.

ورودی ۱:  55000


خروجی ۱:  44000

In [ ]:
price = 0
off = 0
final_price = 0

In [ ]:
price = int(input())

18000

In [ ]:
if price > 50000:
  off = (price * 20) // 100
  final_price = price - off
  print(f"OFF : {off}")
  print(f"Final Price : {final_price}")
elif price >= 20000 and price <= 50000:
  off = (price * 10) // 100
  final_price = price - off
  print(f"OFF : {off}")
  print(f"Final Price : {final_price}")
else:
  print(f"OFF : {off}")
  print(f"Final Price : {price}")

OFF : 0
Final Price : 18000

## حلقه for: قسمت اول

In [ ]:
my_list = [1, 2, 3, 4, 'h']

In [ ]:
for item in my_list:
  print(item)
  print(f"*2 = {item * 2}")

print('\nended')

1
*2 = 2
2
*2 = 4
3
*2 = 6
4
*2 = 8
h
*2 = hh

ended

In [ ]:
for _ in my_list:
  print("Hi Python !")

Hi Python !
Hi Python !
Hi Python !
Hi Python !
Hi Python !

## حلقه for: قسمت دوم

In [ ]:
my_tuple = (('Jadi', 45), ('Hirad', 1), ('Nima', 31))

In [ ]:
for item in my_tuple:
  print(item)

('Jadi', 45)
('Hirad', 1)
('Nima', 31)

In [ ]:
for item in my_tuple:
  name, age = item
  print(f"name: {name}")
  print(f"age: {age}", end='\n+++++++++++++++\n')

name: Jadi
age: 45
+++++++++++++++
name: Hirad
age: 1
+++++++++++++++
name: Nima
age: 31
+++++++++++++++

In [ ]:
for name, age in my_tuple:
  print(f"{name} is {age} years old.", end='\n+++++++++++++++\n')

Jadi is 45 years old.
+++++++++++++++
Hirad is 1 years old.
+++++++++++++++
Nima is 31 years old.
+++++++++++++++

In [ ]:
people = {
    'Jadi': (45, 180), 'Hirad': (1, 55), 'Nima': (31, 178)
}

In [ ]:
for person in people:
  print(person, people[person][0])

Jadi 45
Hirad 1
Nima 31

In [ ]:
for person, data in people.items():
  print(f"{person} -> {data}")

Jadi -> (45, 180)
Hirad -> (1, 55)
Nima -> (31, 178)

In [ ]:
for person in people.keys():
  print(f"{person}")

Jadi
Hirad
Nima

In [ ]:
for person in people.values():
  print(f"{person}")

(45, 180)
(1, 55)
(31, 178)

## تمرین جادوی حلقه

یک جادوگر تصمیم گرفته است که با استفاده از یک طلسم خاص، قدرت اعداد را افزایش دهد! او یک عدد n را انتخاب می‌کند و سپس برای n مرحله، کارهای زیر را انجام می‌دهد:

اگر عدد فرد باشد، مقدار آن را دو برابر کرده و 1 واحد کم می‌کند.

اگر عدد زوج باشد، مقدار آن را نصف می‌کند.

جادوگر این عملیات را دقیقاً n بار انجام می‌دهد.

📝 ورودی

عدد صحیح n که تعداد مراحل را مشخص می‌کند (1 ≤ n ≤ 20).

عدد صحیح x که مقدار اولیه است (1 ≤ x ≤ 1000).

خروجی:

در انتها مقدار نهایی x را نمایش بده

.


ورودی 1:

5

10

خروجی 1:

65

In [ ]:
n = int(input())

if not 1 <= n <= 20:
  raise ValueError("Number out of allowed range")

5

In [ ]:
x = int(input())

if not 1 <= n <= 1000:
  raise ValueError("Number out of allowed range")

10

In [ ]:
for _ in range(n):
  if x % 2 == 0:
    x = x // 2
  else:
    x = (x * 2) - 1

In [ ]:
print(x)

65